<footer class="mt-[100px] py-[67px] px-[100px] bg-[#252641] text-white flex justify-center">
    <div class="flex flex-wrap gap-x-[200px] gap-y-[60px]">
        <div>
            <h1 class="text-primary-green font-bold text-[32px]">Logo</h1>
            <div class="flex gap-6 mt-[60px] mb-10">
                <img src="http://localhost:5270/assets/svg/facebook.svg" alt="facebook">
                <img src="http://localhost:5270/assets/svg/twitter.svg" alt="twitter">
                <img src="http://localhost:5270/assets/svg/linkedin.svg" alt="linkedin">
            </div>
            <p>©2024 Dewarupa.edu</p>
        </div>
        <div class="space-y-3">
            <h2 class="font-semibold text-xl">Pembelajaran</h2>
            <ul class="list-none space-y-3">
                <li>
                    <a href="#">Tutorial</a>
                </li>
                <li>
                    <a href="#">Webinar</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="space-y-3">
            <h2 class="font-semibold text-xl">Maps</h2>
            <iframe class="rounded-xl"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15776.969049722227!2d115.20615705957854!3d-8.668495603876357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd2409b0e5e80db%3A0xe27334e8ccb9374a!2sDenpasar%2C%20Kota%20Denpasar%2C%20Bali!5e0!3m2!1sid!2sid!4v1718036141996!5m2!1sid!2sid"
                width="277" height="188" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>